<html>
  <body>
    <h1>¡Hola!</h1>
    <p>Te hemos enviado una invitación especial. Haz clic en el siguiente enlace para obtener más información:</p>
    <a href="<%= @url %>">Ver evento</a>
  </body>
</html>
