<div class="bg-green-200 rounded-md py-8 mx-auto max-w-lg">
    <h1 class="text-2xl text-center mb-4">Aquí puedes crear un evento</h1>
    <div class="px-4 py-6">
        <%= render 'form' %>
    </div>
</div>
